
<!-- ================================
Start Navigation Bar
================================= -->
<header>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">RESUME BUILDER</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
           <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <ul>
                <li><a href="{%url 'main:home'%}">Home</a></li>
                <li><a href="{% url 'main:blogs' %}">Blog</a></li>
                <li><a href="{%url 'main:contact'%}">Contact</a></li>
             </ul>
            </div>

          </div>
        </div>
      </nav>
      <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
      </nav>
      

    </header>
<body>
    



</body>
<!-- ================================
End Navigation Bar
================================= -->